<div class = " col-7">
<%= form_with model: [:admin, @badge], local: true do |form| %>
   <%= render 'shared/errors', resource: @badge %>

   
    <p>
      <%= form.label :title %>
      <%= form.text_field :title, id: :badge_title, class: "form-control"%>
    </p>
    <p>
      <%= form.label :description %>
      <%= form.text_field :description, id: :badge_description, class: "form-control" %>
    </p>
    <p>
      <%= form.label :image_url %>
      <%= form.text_field :image_url, id: :badge_image_url, class: "form-control"  %>
    </p>

    <div class="form-group select-rule">
      <%= form.label :category_passed %>
      <%= form.radio_button :rule_type, 'category_passed', id: :rule_type_category_passed, checked: true %>

      <%= form.label :first_pass %>
      <%= form.radio_button :rule_type, 'first_pass', id: :rule_type_first_pass %>

      <%= form.label :level_passed %>
      <%= form.radio_button :rule_type, 'level_passed', id: :rule_type_level_passed %>
    </div>


    <%= content_tag :p, class: "dropdown",id: :category_passed do%>
      <%= form.label :category_id %>
      <%= form.collection_select :category_passed, Category.all, :title, :title, prompt: true %>
    <%end%>

    <%= content_tag :p, class: "dropdown hide",id: :first_pass do%>
      <%= form.label :test_id %>
      <%= form.collection_select :first_pass, Test.all, :id, :title, prompt: true %>
    <%end%>

    <%= content_tag :p, id: :level_passed, class: 'hide' do%>
      <%= form.label :level %>
      <%= form.number_field :level_passed, id: :badge_level_passed, class: "form-control" %>
    <%end%>

    <p class ='hide'>
      <%= form.label :rule_value %>
      <%= form.text_field :rule_value, id: :badge_rule_value, class: "form-control ", id: 'rule_value'  %>
    </p>

    
   
    <p> <%= form.submit(class: "btn btn-success")%> </p>
  <% end %>
</div>