<header class = "d-flex">
  <div class = "container left_bar d-flex">
    <div class = "test_guru"> <b> <%= link_to "TestGuru", root_path %> </b> </div>
  </div>

  <div class = "container right_bar d-flex">
    <div class = 'logged_in'>
      <% if user_signed_in?  %>
        <%= t('.welcome', name: current_user.first_name)%> |  
        <%= link_to t('.log_out'), destroy_user_session_path, method: :delete %>
      <%else%>
        <%= link_to t('.sign_up'), new_user_registration_path %> /
        <%= link_to t('.log_in'), new_user_session_path %>
      <% end %>
    </div>
  </div>
</header>

