<header class = "navbar bg-dark">
  <div class = "offset-1">
    <b> <%= link_to "TestGuru", root_path , class: "navbar-brand"%> </b>
  </div>

  <div>
    <div>
      <% if user_signed_in?  %>
        <%= t('.welcome', name: current_user.first_name)%> |  
        <%= link_to t('.log_out'), destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
      <%else%>
        <%= link_to t('.sign_up'), new_user_registration_path, class: "btn btn-outline-primary" %> 
        <%= link_to t('.log_in'), new_user_session_path, class: "btn btn-outline-primary" %>
      <% end %>
    </div>
  </div>
</header>

