<h1>Question</h1>

<p> <%= @answer.question.body %> </p>

<p><b>Answer:</b><br>
  <%= @answer.answer %>
</p>

<p><b>Correct:</b><br>
  <%= @answer.correct %>
</p>

<%= link_to 'Back', admin_question_path(@answer.question.id) %>
<%= link_to 'Edit', edit_admin_answer_path(@answer) %> 

