<h1> <%= t('.question') %> </h1>

<p> <%= @answer.question.body %> </p>

<h2> <%= t('.answer') %> <br></h2>
<p> <%= @answer.answer %> </p>


<p><b> <%= t('.correct') %></b><br>
  <%= @answer.correct %>
</p>

<%= link_to t('admin.control_link.back'), admin_question_path(@answer.question.id) %>


