<h1> <%= @question.test.title %> </h1>

<h2> <%= t('.header') %> </h2>

<p> <%= @question.body %> </p>

<h2> <%= t('.answers') %> </h2>

<p> <%= link_to t('.new_answer'), new_admin_question_answer_path(@question), class: "btn btn-success" %> </p>

<p>  
  <ol>
    <%= render @question.answers %>
  </ol>
</p>

<p>
<%= link_to t('admin.control_link.back'), admin_test_path(@question.test) %> 
</p>
