<tr>
  <td> <%= test.title %> </td>
  <td> <%= test_level(test) %> </td>
  <td class = "text-center"> <%= test.questions.size %> </td>
  <% if user_signed_in? %>
    <td class = "text-center" > <%= button_to t('.start'), start_test_path(test), class: "btn btn-success" %> </td>
  <% else %>
    <td> <%= button_to t('.start'), start_test_path(test), disabled: true, class: "btn btn-success"%> </td>
  <% end %>
</tr>
