<!DOCTYPE html>
<html>
  <head>
    <title>Admin Panel | TestGuru</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/header' %>

    

    <div class = "container content col-10 border border-top-0">
      <%= render 'shared/flash'%>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

  </body>
</html>