<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="wifth=device-width, initial-scale=1, shrink-to-fit=no">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/header' %>

    <div>
      <%= render 'shared/flash'%>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>

  </body>
</html>
